.debug {
  display: none;
}

.navbar-collapse {
  overflow: hidden;
}
h1 {
  font-size:2em;
}
ul.search-results {
  list-style: none;
}

ul.search-results li { 
  display: inline;
}

ul.search-results li a{
  display: block;
  float: left;
  padding: 5px;
  width: 120px;
  height: 120px;
  border: 1px solid silver;
  margin: 2px;
  font-size: .9em;
  text-align: center;
  background-color: #1a1a1a;
  color: #aaa;
}
ul.search-results li a:hover {
  border-color: #375a7f;
  background-color: #000;
  color: #eee;
  cursor: pointer;
  text-decoration: none;
}
ul.search-results li div {
  margin: auto;
}

div.item-detail header .item-icon {
  margin-right: 10px;
}
div.item-detail header h1 {
  line-height: 1.5em;

}

.panel-heading h3 {
  margin: 0;
}
.panel-body form {
  margin: 0;
}

.forge-pattern {
  border: 1px solid #555;
  padding: 1px;
  width: 140px;
  height: 140px;
}
.forge-cell {
  border: 1px solid #333;
  float: left;
  margin: 1px;
  width: 32px;
  height: 32px;
}

.asMattCell {
  padding-right: 10px;
}

.r { text-align: right; }
.c { text-align: center; }
.centered-div {
  margin: 0 auto;
  text-align:center;
}

.item {
  display: inline-block;
}
.panel-padded {
  padding: 5px;
}

.badge-success {
  color: green;
}
.badge-danger {
  color: red;
}
.vert-mid {
  vertical-align: middle !important;
}
.icon-td {
  width: 50px;
  text-align: center;
}

#mobile-header {
  margin-top: 0;
  padding: 16px;
  background: #333;
  text-align: center;
}

#mobile-header a {
  margin: 0px;
}

#mobile-header h1 {
  margin: 0;
  line-height: 1;
}


#loading {
  float: right;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #0CE3AC;
  z-index: 2000;
}

@media only screen and (max-width:991px) {
  #loading {
    left: auto;
    right: 1em;
    top: .5em;
  }
  .site-nav {
    background: #222;
    height: 100%;
    display: block !important;
    visibility: visible !important;
    top: 0;
    left: 0;
    z-index: 10000;
    position: absolute;
    width: 240px;
    -webkit-box-shadow: 2px 2px 2px 2px #171717;
    box-shadow: 2px 2px 2px 2px #171717;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .inactive-nav {
    left: -280px;
  }
}

#loading i {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.accordion-link {
  display: block;
  text-align: center;
}